/* Wrapper for the entire page */
.mpage-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  /* Individual card styles */
  .newcard-container {
    position: relative;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
  }
  
  @media (min-width: 768px) {
    .newfirstcard-container-mddc {
      position: relative;
      max-width: 340px;
      width: 100%;
      padding: 40px;
      border: 2px solid #ddd;
      background-color: #F7F6FD;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 35%;
      z-index: 1;
    }
    
  }
  @media (max-width: 768px) {
    .newfirstcard-container-mddc {
      position: relative;
      margin-bottom: 20%;
      width: 100%;
      margin: 0 auto;
      padding: 40px;
      border: 2px solid #ddd;
      background-color: #F7F6FD;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 115%;
      z-index: 1; /* Place it above the carousel */
    }
  
  }
  
  .mpage-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Individual card styles */
  .newcard-container {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #FEE1A2, #ECDDFE, #8ca8e6);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
  }
  
  .fixed-header{
    display: flex;
    justify-content: left;
  }
  .iframedoc {
    width: 100%;
    height: calc(100vh - 120px); /* Full height minus header and button */
    overflow: hidden;
  }
  
  .iframedoc iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  