.MainContainer {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.container {
    width: 100%;
    max-width: 412px;
    min-width: 300px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    /* background: linear-gradient(to bottom, #e478f0, #9e8bf6); */
    background-color: #F7F6FD;
    color: black;

}

.wrongDiv {
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: grid;
    gap: 20px;
    padding: 0 20px;
}
.red{
  position: relative;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 30px; */
  display: flex;
  font-size: 100px;
  /* color: rgb(47, 102, 255); */
  color: #6039d2;
}
.statusicon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  position: relative;
  flex-shrink: 0;
   display: flex;
}
.statusfailed {
  background: linear-gradient(45deg, #EF4444, #DC2626);
  color: white;
  animation: failedPulse 2s ease-in-out infinite;
}
@keyframes failedPulse {
  0%, 100% { 
    transform: scale(1); 
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.4); 
  }
  50% { 
    transform: scale(1.05); 
    box-shadow: 0 0 0 10px rgba(239, 68, 68, 0); 
  }
}

.wrongDiv h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.wrongDiv p {
    font-size: 16px;
    text-align: center;

}


.stickyButton {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: #F7F6FD */
    /* border-top: 1px solid #e5e7eb; */
  }
  .button {
      width: 100%;
      height: 60px;
      /* padding: 10px; */
      background-color: #6039d2;
      color: white;
      border: none;
      border-radius: 50px;
      font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
   .button:hover {
  background-color: #6039d2;
  height: 61px;
  /* font-size: 17px; */
  font-weight: 600;
  border: 2px solid #6039d2;
  box-shadow: 9px 9px 40px rgba(14, 14, 14, 0.3); 
  transform: translateY(-2px); 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -7px;
  right: -20px;
  transition: 0.5s;
  font-size: 24px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:active{
    width: 100%;
      height: 62px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* font-size: 18px; */      
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #6039d2;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.35);

}