.container-block{
   /* display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  min-height: 100vh; */
  justify-items: center;
  align-items: center;
  justify-content: center;
  background: white;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}
.card-block{
  width: 432px;
  /* background: linear-gradient(to right, #f3b2f5 50%, #a78afa); */
  background-color: #6039d2;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 550px;
}

  .header-block{
     width: 100%;
  max-width: 432px;
  /* height: 200px; */
  padding: 0px 0 0 4px;
  color: #ffffff;
  font-weight: 600;
  /* background: linear-gradient(to right, #f3b2f5 50%, #a78afa); */
  background-color: #6039d2;
  font-size: 17px;
  z-index: 1;
   margin-top: -20px;
  margin-bottom: -10px;
  }
.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    border-radius: 10px 10px 0px 0px;
    /* padding-bottom: 12px; */
    height: 30%;
    padding-top: 1.5rem;
    padding-bottom: 15px;
 }
.cardForm-block {
  width: 432px;
  /* padding-left: 5rem; */
  padding-top: 30px;
  padding: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: #F7F6FD;
  min-height: 472px;
  justify-items: center;
  height: 90vh;
}
@media (max-width: 480px) {
   .card-block {
    width: 100%;
  /* background: linear-gradient(to right, #f3b2f5 50%, #a78afa); */
  background: #6039d2;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 550px;
  }

  .container-block{
   /* display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  min-height: 100vh; */
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center; */
  background: white;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}
  .cardForm-block {
    width: 100%; 
    /* padding-top: 15px;  */
    /* min-height: 400px; 
    height: auto; /* Allow it to adjust based on content *
    width: 432px;
  /* padding-left: 5rem; */
  padding-top: 30px;
  padding: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: #F7F6FD;
  min-height: 472px;
  justify-items: center;
  height: 90vh;
  }
  .header-block{
     width: 100%;
  max-width: 432px;
  /* height: 200px; */
  padding: 0px 0 0 4px;
  color: #ffffff;
  font-weight: 600;
  /* background: linear-gradient(to right, #f3b2f5 50%, #a78afa); */
  font-size: 17px;
  z-index: 1;
   margin-top: -20px;
  margin-bottom: -10px;
  }
.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    border-radius: 10px 10px 0px 0px;
    /* padding-bottom: 12px; */
    height: 30%;
    padding-top: 1.5rem;
    padding-bottom: 1.0rem;
 }
}
.nextBtn-block {
  width: 300px;
  /* margin-top: 60px; */
  padding: 14px 0;
  font-size: 15px;
  font-weight: 600;
  background: #6039d2;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: translate(10px, 10px);
}

.nextBtn-block:hover {
  opacity: 0.9;
}
.content-block {
  padding: 20px;
  width: 360px;
}

 .para{
  color: #777777;
  text-align: center;
  margin-top: -13px;
  margin-bottom: 10px;
}

.fill-form {
    margin-bottom: 25px;
}


.enter-field, .select1 {
  color: #090404;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius:10px;
    box-shadow: 5px 5px 5px #eee;
    background-color: #fff;
}
.enter-field:focus {
  border-radius: 10px ;
  border-color: #090404;
  /* background-color: red; */
  /* box-shadow: 2px 2px 2px 2px #7b5dff33; */
}
.select {
  /* background: #0e0606; */
  color: #090404;
    width: 100%;
    /* padding: 12px; */
    border: 1px solid #ccc;
    border-radius:10px;
    box-shadow: 5px 5px 5px #eee;
    background-color: #fff;
}
/* .error {
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin-left: 2%;
} */
 .error {
  position: absolute;
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin-left: 0%;
}
.error1 {
  position: absolute;
  color: red;
  font-size: 12px;
  font-weight: 600;
  /* padding-top: -22px; */
  margin-top: -23px;
  margin-left: 0%;
}
.short-submit {
      width: 100%;
      padding: 10px;
      background-color: #6039D2;
      color: white;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 16px;
  }
 
  .short-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    border-radius:50%;
  }


  .myselect__control {
    min-height: 50px !important;
    height: 50px !important;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .myselect__value-container {
    padding: 2px 8px !important;
  }
  
  .myselect__input {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .myselect__indicators {
    height: 50px !important;
  }
  
  .Long-button {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 40px;
     padding-top: 20px;
     padding-bottom: 20px;
     /* background-color: white; */
     /* border-top: 1px solid #e5e7eb; */
     justify-content: center;
     justify-items: center;
     align-items: center;
   } 
  .nextbtn {

    width: 100%;
    height: 60px;
    font-size: 16px;font-size: 16px;
    background-color: #6039d2;
    color: white;
    /* font-size: 28px; */
    text-align: center;
    border-radius: 30px;
    /* float: right; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.nextbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nextbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -7px;
    right: -20px;
    transition: 0.5s;
    font-size: 24px;
}

.nextbtn:hover span {
    padding-right: 25px;
}

.nextbtn:hover span:after {
    opacity: 1;
    right: 0;
}

.nextbtn:active {
    width: 100%;
    height: 62px;
    background-color: #6039d2;
    color: white;
    /* font-size: 18px; */
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    border: 2px solid #6039d2;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.35);

}


 





