.numberStart {
  width: 100%;
  max-width: 432px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

.numberOneDiv {
  width: 100%;
  max-width: 432px;
  height: 200px;
  background: linear-gradient(to right, #f3b2f5 50%, #a78afa);
}

.numberTwoDiv {
  width: 100%;
  max-width: 432px;
  height: calc(100vh - 200px); /* 30px overlap included */
  margin-top: -30px; /* to overlap 30px on numberOneDiv */
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
  z-index: 1;
}

.hero1 {
  position: relative;
  padding: 24px 20px 10px 20px;
  color: #ffffff;
}

.heroText1 {
  padding-top: 20px;
  z-index: 2;
  text-align: left;
}

.title1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.subtitle1 {
  font-size: 14px;
  margin-top: 4px;
}

.progressBar1 {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot1,
.dotActive1 {
  margin-top: 2rem;
  width: 28px;
  height: 6px;
  border-radius: 2px;
  background: #ffffff66;
  cursor: pointer;
}

.dotActive1 {
  background: #ffffff;
}

.imgWrap1 {
  position: absolute;
  margin-top: 60px;
  right: 2px;
  bottom: 0px;
  width: 180px;
  height: 170px;
  overflow: hidden;
  border-radius: 8px;
}

.listpageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.allnewcardContainer {
  width: 100%;
  max-width: 432px;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 16px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 3;
}

.newcardContainer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #8ca8e6, #ECDDFE, #FEE1A2);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.cardLogo {
  justify-items: center;
  font-size: 18px;
  font-weight: bold;
}

.cardBody {
  background-color: #ffffff78;
  border-radius: 15px;
  margin: 10px 0;
  text-align: left;
}

.amount {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-left: 20px;
  margin-bottom: 0;
}

.maxAmount {
  font-size: 15px;
  color: #777;
  margin-left: 20px;
}

.cardInfo {
  display: flex;
  gap: 3.5rem;
  margin: 15px 0 25px;
}

.infoItem {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #777;
  border: 1px solid #6a00ff;
  border-radius: 10px;
  padding: 3px 6px;
}

.cardButton {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6039D2;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
}

.cardButton:hover {
  background-color: #4a00cc;
}