.container {
    background-color: #f7f6fd;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: auto;
    margin: auto;
    background: linear-gradient(to top, #FFFFFF, #D6C8FF);
    /* border: 1px solid red; */
    /* padding: 0 10px; */
    /* display: grid; */
}
.mainHeaderPart {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: inline-flex;
    margin: 0 0 30px 0;
    
}
.topchildren {
    width: 100%;
    height: auto;
    height: 90px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    /* background-color: #6039D2; */
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    width: 100%;
    /* height: 150px; */
    margin: 25px 0 10px 0;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: inline-flex
}

.logo2 {
    width: auto;
    height: auto;
    /* border-radius: 326.24px; */
    /* border-radius: 50%; */

}
.messageDiv{
    margin: 20px 0px 20px 0px;

}
.messageDiv h3{
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    color: #000000;
}
.textDiv{
    padding: 0px 10px;
    height: 96px;
}
.textDiv h3{
font-size: 20px;
line-height: 100%;
font-weight: 500;
color: #000000;
}
.textDiv p{
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 color: #000000;
 margin: 10px 0 30px 0;
}
.cardLogo{
    width: 100px;
    height: 50px;
}
.lenderInfo{
    width: 100%;
    max-width: 330px;
    margin-top: -340px;
    margin-left: 40px;
    padding: 0 0px;
    position: absolute;
}
.amount{}
.amount h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    color: #191A23;
}
.inputeL{
    margin: 30px 0 0 0;
}
.pTagMessage{
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
     color: #000000;
     margin: 0px 0px 20px 0px;
}
.amountInput{
    width: 100%;
    height: 60px;
    border: 1px solid #6039D2;
    padding: 10px 15px;
    border-radius: 10px;
    background: #FFFFFF;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    color: #191A23;
}
.amountInput::placeholder{
    color: #A1A1A1;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
}
.amountInput:hover{
    border: 1px solid #6039D2;
}
.inputeMessage{
    color:#A1A1A1;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 10px;
}
.sliderDiv{
    margin: 45px 0px;
    width: 100%;
    color: black;
}
.slider{
    accent-color: #faba44;
        cursor: pointer;
        background-color: #fff;
        border-radius: 4px;
        width: 100%;
        height: 4px;
        margin-top: 6px;
}
.lables{
    display: flex;
    justify-content: space-between;
}
.btnDiv{
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    display: flex;
}
.btn{
    width: 110px;
    height: 50px;
    padding: 11px 37px;
    background: #FABA44;
    color: #191A23;
    font-size: 20px; 
    font-weight: 400;
    line-height: 28px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.svgDiv{
    /* width: 100%; */
    /* position: absolute; */
    width: auto;
    height: 350px;
    padding: 10px;
    /* margin-top: -300px; */
}
.innerSVG{
    border: 2px solid black;
    height: 350px;
    width: 380px;
    /* position: absolute; */
    /* transform: rotateY(20deg); */
}
/* ========================================================================================
=========================================================================================== */
