.firstContainer{
  height: 100vh;  /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.container {
   align-items: center;
  /* border-radius: 16px; */
  height: 100vh;  
  min-height: 650px;
  width: 432px;  /* Fixed width for the container */
  display: flex;  /* Enable flexbox */
  flex-direction: column;  /* Arrange items vertically */
  align-items: left;  /* Center content horizontally */
  justify-content: center;  /* Center content vertically */
  background: linear-gradient(to right, #f3b2f5 50%, #a78afa);
  /* background: linear-gradient(to bottom right, #e490c5, #7b6de2); */
  padding: 20px;
}
.header{
  padding-left: 20px;
  width: 100%;
  height: auto;
}
.heading {
  position: relative;
  left: 0;
  /* margin-right: 155px; */
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  /* margin-bottom: 1rem; */
}

.card {
  /* justify-content: center; */
  /* justify-items: center; */
  position: relative;
  background-color: #F7F6FD;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  /* border-radius: 16px; */
  width: 100%;
  height: 420px;
  max-width: 370px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-left: 25px;
  margin-top: 30px;
}

.item {
  width: 48%;
}

.label {
  font-size: 0.89rem;
  font-weight: 600;
  color: #777;
  margin-bottom: 4px;
}

.value {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
}

.payment {
  margin-top: 20px;
  margin-left: 25px;
}

.radio {
  display: block;
  margin-bottom: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  color: #333;
}
/* butoon css */
.btnContainer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  border-top: 1px solid #e5e7eb;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.nextBtn {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #6039D2;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;    
}

/* .button {
  position: relative;
  bottom: -25;
  width: 370px;
  left: -45px;
  right: -px;
  z-index: 3;
  background-color: #6039D2;
  color: white;
  border: none;
  padding: 10px;
  border: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
} */
.notecontainer{
  /* background-color: red; */
  /* height: 200px; */
  

}
.note {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: white;
  background: transparent;
}
  
.error {
  color: red;
  font-size: 13px;
  font-weight: 600;
  margin-top: 6px;
}
